[buildout]
parts = instance test omelette
extends =
    http://dist.plone.org/release/4.0a2/versions.cfg
develop = .

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
blob-storage = var/blobstorage
user = admin:admin
debug-mode = on
verbose-security = on
eggs = 
    collective.beaker
    Plone
    Products.PdbDebugMode
    plone.reload
zcml =
    collective.beaker
zope-conf-additional =
    <product-config beaker>
        cache.type              file
        cache.data_dir          ${buildout:directory}/var/cache/data
        cache.lock_dir          ${buildout:directory}/var/cache/lock
        cache.regions           short, long
        cache.short.expire      60
        cache.long.expire       3600
        
        session.type            file
        session.data_dir        ${buildout:directory}/var/sessions/data
        session.lock_dir        ${buildout:directory}/var/sessions/lock
        session.key             beaker.session
    </product-config>

[test]
recipe = zc.recipe.testrunner
eggs = collective.beaker [tests]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
